<!DOCTYPE html>
<html lang="en" xmlns:th="http://thumeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/users/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="name">
  <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

  <br>

  <label for="email">Email</label>
  <input th:field="*{email}" type="text" id="email">
  <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>

  <br>

  <label for="password">Password</label>
  <input th:field="*{password}" type="text" id="password">
  <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>

  <br>

  <label for="age">Age</label>
  <input th:field="*{age}" type="number" id="age">
  <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>

  <br>

  <input type="submit" value="Update User">



</form>
<br>
<form th:action="@{/logout}" th:method="POST">
  <input type="submit" value="Logout"/>
</form>
</body>
</html>