<!DOCTYPE html>
<html lang="en, ru">
<head>
    <meta charset="UTF-8">
    <title>Main paige</title>
</head>
<body>
<p> Здарова, Толя!</p>
<p> Это заглавная страничка для демонстрации Веб Секурити.</p>
<p> Здесь можно зайти в приложение:</p>
<p> Твои уникальные лог:пас - tolya@twitch.uberstar : 1111 </p>
<a href="/auth/login"> Страница аутентификации </a>
<p> Ты, конечно же, и юзер и админ, по условию задачи откроется админская страничка. </p>
<p> Чтобы посмотреть юзерскую страницу, придется перейти руками на /user</p>
<p> (у остальных пользователей пароли очень похожи)</p>
<p> Потом надо будет добавить просрачивание аккаунта при изменении роли...</p>
<p> Дизайн поел гавна, а я пошел читать вопросы, полчаса осталось как никак.</p>
</body>
</html>